Source: gz-physics
Section: libs
Priority: optional
Maintainer: Giovanni Senatore <giovanni.senatore@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 gz-cmake,
 libgz-math-dev,
 libgz-utils-dev,
 libgz-plugin-dev,
 ruby-gz-plugin,
 libsdformat-dev,
 ruby-sdformat,
 libeigen3-dev,
 libdart-all-dev,
 libdart-external-ikfast-dev,
 libbullet-dev,
Standards-Version: 4.6.2
Homepage: https://gazebosim.org/
#Vcs-Browser: https://salsa.debian.org/debian/gz-physics
#Vcs-Git: https://salsa.debian.org/debian/gz-physics.git

Package: libgz-physics-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libgz-physics9 (= ${binary:Version}),
 ${misc:Depends},
Description: Abstract physics interface designed to support simulation and rapid development of robot applications - development files
 Gazebo Physics, a component of Gazebo, provides an abstract physics interface
 designed to support simulation and rapid development of robot applications.

Package: libgz-physics9
Architecture: any
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Abstract physics interface designed to support simulation and rapid development of robot applications
 Gazebo Physics, a component of Gazebo, provides an abstract physics interface
 designed to support simulation and rapid development of robot applications.
